@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
button,
textarea,
select {
  font: inherit;
}
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}
/* Importing Fonts */
@font-face {
  font-family: 'Montserrat Medium';
  src: url('../Assets/Fonts/Montserrat/Montserrat-Medium.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Montserrat Bold';
  src: url('../Assets/Fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Montserrat ExtraBold';
  src: url('../Assets/Fonts/Montserrat/Montserrat-ExtraBold.ttf')
    format('truetype');
}
@font-face {
  font-family: 'Source Sans Pro Regular';
  src: url('../Assets/Fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
    format('truetype');
}

/* Global Styles */
:root {
  --gradient-1: #1b98d0;
  --gradient-2: #1d9dd7;
  --gradient-3: #1ea5e1;
}
html {
  font-size: clamp(
    16px,
    calc(16px + (20 - 16) * ((100vw - 300px) / (1600 - 300))),
    20px
  );
  font-family: 'Source Sans Pro Regular';
  font-size: 1rem;
}
h1 {
  font-family: 'Montserrat ExtraBold';
  font-size: 2.5rem;
}
h2 {
  font-family: 'Montserrat Bold';
  font-size: 2rem;
}
h3 {
  font-family: 'Montserrat Medium';
  font-size: 1.5rem;
}
p {
  font-family: 'Source Sans Pro Regular';
  font-size: 1rem;
}

img {
  width: 100%;
}
.sidebar_gradient {
  background-image: linear-gradient(
    160deg,
    var(--gradient-1),
    var(--gradient-1),
    var(--gradient-2),
    var(--gradient-3)
  );
}

/* Works on Firefox */
.styledScroll {
  scrollbar-width: thin;
  scrollbar-color: #80c3e2 var(--gradient-3);
}

/* Works on Chrome, Edge, and Safari */
.styledScroll::-webkit-scrollbar {
  width: 8px;
}

.styledScroll::-webkit-scrollbar-track {
  background: var(--gradient-3);
}

.styledScroll::-webkit-scrollbar-thumb {
  background-color: #80c3e2;
  border-radius: 10px;
  border: 2px solid var(--gradient-3);
}
.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
